:root {
    font-size: 16px;
    --header-bg-color: #fefefe;
    --formation-bg-color: white;
    --perfil-img-border-color: white;
    --font-family-indie: 'Indie Flower', sans-serif, Helvetica;
    --font-family-text: 'Open Sans', sans-serif;
    /*EC91D8*/
}

body {
    font-family: var(--font-family-text);
}

header {
    height: calc(100vh);
}

/*
nav {
    padding-top: 1.5em;
    height: 15%;
    background-color: #fbcaca;
}

nav ul {
    text-align: center;
    margin: 0 auto;
}

nav li {
    display: inline-block;
    padding: .2em .5em;
    margin-right: 0.5em;

    border: 1px solid black;
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    font-size: 1.25em;
}

nav a:visited {
    color: black;
}
*/

.perfil {
    background: linear-gradient(var(--header-bg-color) 85%, var(--formation-bg-color));
    box-sizing: border-box;
    text-align: center;
    padding-top: 1rem;

}

.perfil h1 {
    margin: 2rem auto;
}

.perfil img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 5px solid var(--perfil-img-border-color);
}

.perfil p {
    line-height: 3rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.perfil h2 {
    margin-top: 1.5rem;
    line-height: 2rem;
    font-size: 1.5rem;
    font-style: italic;
}

.perfil h3 {
    position: relative;
    top: 3rem;
    margin-right: .5rem;
    
    text-align: right;
    font-size: 1.25rem;
    font-family: var(--font-family-indie);
    font-style: italic;
}

section {
    padding: 2rem;
    background-color: var(--formation-bg-color);
}

section h2 {
    text-align: center;
    font-family: var(--font-family-indie);
    font-size: 2rem;
    font-weight: lighter;
}

.formation li {
    margin: 1rem 0;
}

.formation img {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 150px;
}

.skill-bar {
    width: 80%;
    height: 1rem;
    margin: 0 auto;
    box-sizing: border-box;
    background: rgb(0, 0, 0, 0.075) !important;
    border-radius: 60px;
}

.skill-bar p {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
}

.skill-bar-value {
    width: 80%;
    height: 100%;
    background: #75b800 !important;
    border-radius: 10px;
}
