:root {
    font-size: 16px;
    --font-family-indie: 'Indie Flower', sans-serif, Helvetica;
    --font-family-text: 'Open Sans', sans-serif;

    --dark-color: black;
    --light-color: #fefefe;
    --uncompleted-skill-bar-color: rgb(0, 0, 0, 0.075);
    --form-border-color: #bdbdbd;
}

body {
    font-family: var(--font-family-text);
}

section {
    padding: 2rem;
    background-color: var(--formation-bg-color);
}

section h2 {
    margin-bottom: 2.5rem;
    text-align: center;
    font-family: var(--font-family-indie);
    font-size: 3rem;
    font-weight: lighter;
}


/**** Perfil Section ****/

.perfil {
    padding-top: 4rem;
    padding-bottom: 1rem;
    text-align: center;
    box-sizing: border-box;

    background-image: url("../assets/perfil-background.png");
    background-size: contain;
    background-repeat: repeat-x;
    background-color: var(--dark-color);
    color: var(--light-color);
}

.perfil div {
    margin: 0 auto;
    width: 100%;
    max-width: 30rem;
}

.perfil h1 {
    margin: 2rem auto;
}

.perfil img {
    width: 50%;
    max-width: 15rem;
    height: 50%;
    border-radius: 50%;
    border: 5px solid var(--light-color);
}

.perfil p {
    line-height: 3rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.perfil h2 {
    margin-top: 1.5rem;
    line-height: 2rem;
    font-size: 1.5rem;
    font-style: italic;
}

.perfil h3 {
    margin-top: 4rem;
    margin-right: .5rem;
    
    text-align: right;
    font-size: 1.25rem;
    font-family: var(--font-family-indie);
    font-style: italic;
}

/**** Formation Section ****/

.formation li {
    text-align: center;
}

.formation h3 {
    font-size: 1.6rem;
}

.formation h4, p {
    font-size: 1.3rem;
}

.formation img, .formation h3, .formation h4 {
    margin: 1.5rem 0;
}

.formation img {
    display: block;
    margin: 0 auto;
    width: 12rem;
    height: 10rem;
}

.formation li:first-child {
    margin-bottom: 3rem;
}

/**** Experiences Section ****/

.experiences {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.experiences ul {
    margin: 0 auto;
    max-width: 30rem;
}

.experiences h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.experiences h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.experiences h5 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.experiences hr {
    margin: 2rem 0;
}

/**** Skills Section ****/

.skills ul {
    margin: 2rem auto 0;
    max-width: 30rem;
}

.skills li {
    margin-bottom: 2rem;
}

.skills li:last-child {
    margin-bottom: 1rem;
}

.skills h3 {
    display: inline;
    font-size: 1.5rem;
}

.skills h4 {
    float: right;
    font-size: 1.5rem;
}

.skill-bar {
    margin-top: .5rem;
    width: 100%;
    height: .75rem;
    box-sizing: border-box;
    background: var(--uncompleted-skill-bar-color);
    border-radius: 60px;
}

.skill-bar p {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.skill-bar div {
    height: 100%;
    border-radius: 10px;
}

/**** Contact Section ****/
form {
    margin: 1rem auto;
    max-width: 30rem;
}

form input, textarea, label, button {
    display: block;
    font-family: var(--font-family-text);
}

form input, textarea, label {
    box-sizing: border-box;
    margin: 1rem 0;
    width: 100%;
}

form input, textarea, button {
    border: 1px solid var(--form-border-color);
    font-size: 1.2rem;
}

form label {
	font-size: 1.75rem;
}

form input {
    height: 2.5rem;
    padding: 0.5rem;
}

.contact textarea {
    resize: none;
    height: 10rem;
}

form button {
    display: block;
    margin: 2.5rem auto 0 auto;
    width: 80%;
    height: 2.5rem;
    border-radius: 10px;

    font-family: var(--font-family-text);

    background-color: var(--dark-color);
    color: var(--light-color);

    transition: all 0.5s ease;
}

/**** Contact Section ****/

footer {
    padding: 1rem;
    height: 225px;
    text-align: center;
    
    box-sizing: border-box;   

    color: var(--light-color);
    background-color: var(--dark-color);
    background-image: url(../assets/footer-background.png);
    background-size: 25rem, auto, contain;
}

footer h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: var(--font-family-indie);
}

footer i {
    margin-top: 1.5rem;
    font-size: 4.5rem;
    color: var(--light-color);
}

@media (min-width: 500px) {
    .perfil {
        background-size: 50rem, auto, contain;
    }

    .perfil h1 {
        margin: 4rem auto;
    }

    .footer {
        background-size: auto, 2rem, contain;
    }
}