:root {
    font-size: 16px;
    --header-bg-color: #fbcaca;
    --formation-bg-color: #e2e2fd;
    --perfil-img-border-color: white;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    height: calc(100vh);
}

/*
nav {
    padding-top: 1.5em;
    height: 15%;
    background-color: #fbcaca;
}

nav ul {
    text-align: center;
    margin: 0 auto;
}

nav li {
    display: inline-block;
    padding: .2em .5em;
    margin-right: 0.5em;

    border: 1px solid black;
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    font-size: 1.25em;
}

nav a:visited {
    color: black;
}
*/

.perfil {
    background: linear-gradient(var(--header-bg-color) 80%, var(--formation-bg-color));
    box-sizing: border-box;
    text-align: center;
    padding-top: 1rem;

}

.perfil h1 {
    margin: 2rem auto;
}

.perfil img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 5px solid var(--perfil-img-border-color);
}

.perfil p {
    line-height: 3rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.perfil h2 {
    margin-top: 1.5rem;
    line-height: 2rem;
    font-size: 1.5rem;
    font-style: italic;
}

.perfil h3 {
    position: relative;
    top: 3rem;
    margin-right: .5rem;
    
    text-align: right;
    font-size: 1.25rem;
    font-family: 'Indie Flower', cursive;
    font-style: italic;
}

.formation {
    background-color: var(--formation-bg-color);
    text-align: center;
}

.formation h2 {
    margin:  0 auto;
}